
<%-include ('header')-%>
<!-- header code loaded with ejs -->

<div class="wrapper">
<form action="" method="">
    <div class="container">
        <h2>LOGIN</h2>
        <div class="input-box">
            <!-- <label class="detail">Username</label> -->
            <input type="text" placeholder="USERNAME" name = "" required>
        </div>

        <div class="input-box">
            <!-- <label class="detail">Password</label> -->
            <input type="password" placeholder="PASSWORD" name="" required>
        </div>  
        <div class="click">
            <button class="glow-on-hover" type="button">LOGIN</button>

        </div>
    </div>
</form>
</div>


<!-- footer code loaded with ejs -->
<%-include ('footer')-%>
